<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <b><%= form.label :name, :class => "form-label" %></b>
    <%= form.text_field :name, :type => "text", :class => "form-control" %>
  </div>

  <div class="field mb-3">
    <b><%= form.label :description, :class => "form-label" %></b>
    <%= form.text_area :description, :type => "textarea", :class => "form-control"  %>
  </div>

  <div class="field mb-3">
    <b><%= form.label :picture, :class => "form-label"%></b>
    <%= form.file_field :picture, :class => "btn btn-light"   %>
  </div>

  <div class="field mb-3">
    <b><%= form.label :author, :class => "form-label" %></b>
    <%= form.select :author, Author.all.map(&:name), :type => "textarea", :class => "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
