<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <th><strong>Name:</strong></th>
    <td> <%= @idea.name %></td>
  </tr>
  <tr>
    <th><strong>Description:</strong></th>
    <td><%= @idea.description %></td>
  </tr>
  <tr>
    <th><strong>Picture:</strong></th>
    <td><%= image_tag(@idea.picture_url, width: 500) if @idea.picture.present? %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-primary"  %>
<%= link_to 'Back', ideas_path, :class => "btn btn-secondary"  %>
